parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    ignoreErrors:
        -
            identifier: property.unusedType
            path: src/Entity/Article.php
        -
            identifier: argument.templateType
            path: src/MessageHandler/MercureUpdateHandler.php
