includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: property.unusedType
        -
            identifier: argument.templateType
            path: src/MessageHandler/MercureUpdateHandler.php
